* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    outline: 0 none;
}
:root {
--secoundryColor:  #212225;
}
body {
    background-color: #24252A;
}
.menubar li, li>a, #logout{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--secoundryColor);
}

.menubar{
    list-style: none;
  
}
.menubar li {
    display: inline-block;
    padding: 0px 20px;
}
.menubar li a{
    transition: all 0.3s ease 0s;
}
.menubar li a:hover{
    color: #0088a9;
}
#logout{
    padding: 9px 25px;
    background-color: rgba(0,136, 169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#logout:hover{
    background-color:  rgba(50,136, 250,1);
}

.activeLink {

    color: #0d9fc4;

}


.verticalMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: var(--secoundryColor);
    position: fixed;
    height: 100%;
  }

  .secoundary {
      margin-left: 15.15%;
  }

  #config {
      margin-left: 30.15%;

      /*TODO only if user isn't in the home section*/
  }


  
#helloUser {
    margin-top: 4vh;
    margin-left: -28vw;
    font-family: sans-serif;

}

.verticalMenu li a {
    display: block;
    color: #edf0f1;
    padding: 20px 20px;    
    text-decoration: none;
    
  }
  
  .verticalMenu li a.activeSubNav {
    background-color: rgba(0,136, 169,1);
    color: #edf0f1;
  }
  
  .verticalMenu li a:hover:not(.activeSubNav) {
    background-color: rgb(23, 90, 107);
    color: white;
  }
#scorenamediv{
    display: inline-block;
    justify-content: space-between;
}
#buttonaddscore{
    border:0;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 3px 2px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
    margin: 6px;

}
#buttonaddscore:hover{
    background: #2ecc71;
}
#scorenameinput{
    border:0;
    background: none;
    border: 2px solid #3498db;
    padding: 3px 2px;
    width: fit-content;
    max-width: fit-content;
    outline: none;
    color: white;
    border-radius: 10px;
    margin: 6px;

  }

  .subtext {

    margin-top: 1px;
    font-size: 10px;
    margin-bottom: -11px;
  }
